/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --main: #2d3043;
  --main-light: #54597c;
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: var(--main);
  margin: 0;
  font-family: 'Poppins';
}
header {
  background: var(--main);
  color: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
header .main-links a {
  color: var(--main-light);
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button,
.remove-project-button,
#new-project span {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600 !important;
  font-size: 1rem;
  right: 25px;
}
.signup button,
.login button,
.create-project button {
  background: var(--main);
  border: 0;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  height: 35px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-weight: 600 !important;
  font-size: 1rem;
  margin-top: 30px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  outline: none;
}

.signup button span,
.login button span {
  position: relative;
  z-index: 1;
}

.signup button:after,
.login button:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 500px;
  width: 500px;
  background: var(--main-light);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(483px) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.signup button:hover:after,
.login button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 0 50px;
}
nav a,
nav button {
  margin-left: 20px;
}
nav button,
.projects-header button {
  color: var(--main);
  padding: 8px 30px;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  background: #ffffff;
  transition: all 0.3s ease-in;
}
nav button:hover {
  transform: translateY(-3px);
}
nav .main-links {
  flex-grow: 1;
}
nav .main-links a {
  margin: 0 20px;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
h2 {
  color: #fff;
}
h4 {
  margin: 0;
}
.tag-details h4 {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
p {
  margin: 0;
}
.tags {
  display: inline-flex;
  flex-direction: column;
}
.project-details .tags {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag-details {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 23px;
  min-width: 150px;
}
.project-details .tag-details {
  min-width: unset;
  margin: 0 5px 5px 0;
}
input.tag-details {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}

.taglistName {
  color: #fff;
  background: none;
  margin: 10px;
  padding: 10px 0;
  border-radius: 18px;
  min-width: 150px;
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}
.taglistName:focus,
.taglistName:active {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
.customSelect {
  position: relative;
}
.customSelect span::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  bottom: 25px;
  right: 30px;
  position: absolute;
}
.customSelect span:last-of-type:after {
  transform: rotate(180deg);
  bottom: 35px;
}

input.error {
  border: 1px solid red;
}
.create {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-project {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0f132f;
  padding: 50px;
  border-radius: 23px;
  color: #fff;
  width: 90%;
  max-width: 300px;
}
.create-project.show {
  display: block;
}
.create-project button {
  background: var(--primary);
  right: 0;
  margin-top: 0;
}

.tag-details .material-icons {
  font-weight: 600;
}
.page {
  display: flex;
  gap: 50px;
}
.projects {
  width: 100%;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project {
  position: relative;
  background: var(--main-light);
  border-radius: 23px;
  padding: 30px;
  width: calc(((100% - 240px) / 3));
  transition: all 0.3s ease-in;
}
.project:hover {
  transform: translateY(-3px);
}
.project a {
  text-decoration-line: none;
  width: 100%;
  height: 100%;
  display: block;
}
.remove-project-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: var(--error);
}
.project-details {
  color: #fff;
  height: 212px;
  overflow: hidden;
  position: relative;
}
.project-details .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, #ffffff00 50%, var(--main-light) 100%);
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects-header button {
  background: none;
  color: white;
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.projects-header button::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 220px;
  background: var(--primary);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
}

.projects-header button:hover::after {
  transform: translateX(0);
}

#new-project p {
  position: relative;
  z-index: 1;
}

#new-project span {
  position: relative;
  left: 0;
  margin-left: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.page.blurred {
  filter: blur(5px) brightness(50%);
  pointer-events: none;
  user-select: none;
}
